# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Packages
Flask==1.1.4
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
SQLAlchemy==1.3.18
Flask-User==1.0.1.5
Flask-WTF==0.14.3
flask-file-upload==0.1.5
Django==3.1.14
Jinja2==2.11.3
py==1.10.0
alembic==1.4.2

#Production
whitenoise==5.2.0
gunicorn==20.1.0

# Automated tests
pytest==3.0.5
pytest-cov==2.4.0

# Dev App Runner
honcho==1.0.1

#Other Apps API
canvasapi==2.2.0
rocketchat-API==1.3.1


# Misc.
certifi==2023.7.22
chardet==3.0.4
Click==7.0
idna==2.8
is-safe-url==1.0
itsdangerous==1.1.0
MarkupSafe==1.1.1
requests==2.32.2
six==1.12.0
PyYAML==5.4
PyJWT==2.4.0
pyper==1.1.2
PySocks==1.7.0
pytz==2019.1
urllib3
python-dotenv==0.20.0
psycopg2-binary==2.9.5
