  <!DOCTYPE html>

{% extends "header.html" %}<!-- all html files should extend from the header, (the header contains all static references as well) -->
{% block content %}

<html>
<section class="500Error">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first text-center">
      <center><div class="image-cropper"><img class="profile-pic img-fluid" src="{{ url_for('static', filename='images/p4h.png') }}" id="icon" alt="User Icon" /></div></center>
    </div>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Something went wrong.  (500 Error)</a>
    </div>
  </div>
</div>
</section>
</html>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}