{% extends "header.html" %} <!-- all html files should extend from the header, (the header contains all static references as well) -->
{% block content %}

<header>
  <!--{{ super() }}-->
</header>
<base href="/">
<div class="container emp-profile">
    <div class="">
        <h1>Anons</h1>
        {% if(current_user.role.id > 8) %} <!-- 9 & 10 are admin level ids -->
        <div id="write_post"> <!-- ID being used for appending posts -->
          <div style="text-align: center;" class="post_box">
              <div class="profile-name">
                  <figure class="profile-pic-post post"><img alt="No Profile Picture" class="img-fluid rounded-circle" src="{{ url_for('static', filename='images/p4h.png') }}" /></figure>
                  <div class="col-10" id="">
                      <textarea id="textbox-post" class="text_box" name="message" style="width: 100%;" placeholder="Write Post Here" size="5"></textarea>
                      <span id="upload-post" onclick="document.getElementById('input-upload-post').click();" class="iconify upload_icon" data-icon="ant-design:cloud-upload-outlined" data-inline="false"></span>
                      <input type="file" name="userFile" id="input-upload-post" class="invisble" data-multiple-caption="{count} files selected" onclick="this.value = null" multiple/>
                      <label class="invisble" id="label-upload-post" style="display: none;" for="input-upload-post"><strong>Choose a file</strong></label>
                      <div class="row ">
                          <a  id="post" name="1" value="Post" class="w-100 blue_button">Post</a>
                      </div>
                  </div>
              </div>
              <img id="display-upload-post" class="img-fluid post-pic" />
          </div>
        </div>
        {% endif %}
      </div>
    <div class="row">
    <div class="col-12 ">
      {% if(posts|length == 0)%}
        <h3 style='text-align: center;'>No Announcements at this time</h3>
      {% endif %}
    {% for post in posts %}
        {% include 'post.html' %}
    {%endfor%}
  </div>
</div>
</div>
<!--<script src="{{ url_for('static', filename='js/announcements.js') }}"></script>-->
{% endblock %}
