  <!DOCTYPE html>

{% extends "header.html" %}<!-- all html files should extend from the header, (the header contains all static references as well) -->
{% block content %}

<html>
<section>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first text-center">
      <center><div class="image-cropper"><img class="profile-pic img-fluid" src="{{ url_for('static', filename='images/p4h.png') }}" id="icon" alt="User Icon" /></div></center>
    </div>
    {% if error %}
      <p class="error text-center mt-3"><strong>Error:</strong> {{ error }}
    {% endif %}
  </div>
</div>
</section>
</html>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}