<!DOCTYPE html>

{% extends "header.html" %} <!-- all html files should extend from the header, (the header contains all static references as well) --> 
{% block content %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->
<head>
</head>
<div class="list-group">
  <h1 class="h2 mx-4">Files</h1>
  {% for i in range(files | length)%}
  <a href="resources/download/{{files[i].id}}" class="list-group-item d-flex list-group-item-action align-items-center " download>
    <i style="font-size:30px;" class="fa-solid fa-download text-center mx-3" title="star" aria-hidden="true"></i>
    <div class="align-items-start active w-100 ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{files[i].display_name}} </h5>
        <small class="">{{files[i].updated_at_date.strftime('%Y-%m-%d')}}</small>
      </div>
    </div>
  </a>
  {% endfor %}
  {% if(files|length == 0)%}
    <div class="text-center">No files have been uploaded into this folder</div>
  {% endif %}
</div>
{% endblock %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html --> 
