<!DOCTYPE html>

{% extends "header.html" %} <!-- all html files should extend from the header, (the header contains all static references as well) --> 
{% block content %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->
<head>
</head>
<div class="list-group">
  {{file_display}}
  {% for i in range(files | length)%}
  <a href="resources/download/file_{{folder_id}}-{{files[i].id}}" class="list-group-item d-flex list-group-item-action align-items-center " download>
    <!--<img style="font-size:40px; margin-right:15px;" class="img-fluid" src="../static/icons/png/cloud-download-3x.png" alt=""/>-->
    <span style="font-size:30px; margin-right:15px;" class="oi oi-cloud-download" title="star" aria-hidden="true"></span>
    <div class="align-items-start active w-100 ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{files[i].display_name}} </h5>
        <small class="">{{files[i].updated_at}}</small>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html --> 
