<!DOCTYPE html>

<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta charset="utf-8" />
  <base href="/">
  <title>P4H Teach</title>
  <!-- favicon -->
  <link rel='icon' href="{{ url_for('static', filename='images/white_log.png') }}" type='image/x-icon'/>
  <!-- Static references -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"></link>
  <link  rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" ></link>
  <link  rel="stylesheet" href="{{ url_for('static', filename=resolve_css(self)) }}" ></link>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/navbars/"/>
</head>
<body>
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark" id="navbar-container">
      <a href="#" class="navbar-brand">
        <h1 id="nav-logo-p4h">
          <img
            style="height: 45px; vertical-align: middle;"
            class="img-fluid"
            src="{{ url_for('static', filename='images/white_log.png') }}"
            id="icon"
            alt="User Icon"
          />
        </h1>
      </a>
      {% if (current_user.is_authenticated) %}
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <!--<a href="" class="nav-item nav-link active animated" >Lakay</a>-->
            <a
              href="{{url_for('profile')}}"
              class="nav-item nav-link animated"
              >Profile</a
            >
            <a
              href="{{ url_for('messaging') }}"
              class="nav-item nav-link animated"
              >Mesaj</a
            >
            <a
              href="{{ url_for('announcements') }}"
              class="nav-item nav-link animated"
              >Anons</a
            >
            <a
              href="{{ url_for('resources') }}"
              class="nav-item nav-link animated"
              tabindex="-1"
              >Resous
              </a>
            <a
              href="/logout"
              class="nav-item nav-link animated"
              tabindex="-1"
              >Logout
              </a>
          </div>
          <!--<div class="navbar-nav ml-auto"> <a href="#" class="nav-item nav-link animated">Anviwònman</a> </div>-->
        </div>
      {% endif %}
    </nav>
  </div>
  <!-- show flash messages to user in all views -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div style="height: calc(100% - 153px);">
    {% block content %}

    {% endblock %} <!-- <router-outlet></router-outlet> angular could work here as well -->
  </div>
</body>
<!--<script  src="{{ url_for('static', filename=resolve_entry_script(self)) }}"></script> to do: why is this not visible to html?-->
<script src="static/dist/runtime.js" defer=""></script><script src="static/dist/polyfills.js" defer=""></script>
<script src="static/dist/vendor.js" defer=""></script><script src="static/dist/main.js" defer=""></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="{{ url_for('static', filename='js/core.js') }}"></script>


