<!DOCTYPE html>
<article id="post_{{post.id}}" class="post_box">
    <div class="delete">
        <span id="{{post.id}}" onclick="deletePost(event)" class="iconify" data-icon="oi-x"></span>
    </div>
    <div class="profile_name">
        <div class="profile-pic">
            {% if(post.title == 'Admin' or post.title == 'Announcement' ) %}
            <figure class="thumbnail"><img alt="placeholder" class="img-fluid avatar-sm" src="{{ url_for('static', filename='images/p4h.png') }}" /></figure>
            {% else %}
            <!--<figure class="thumbnail"> <img alt="placeholder" class="img-fluid rounded-circle" src="{{post.author['avatar_image_url']}}" /> </figure>-->
            <figure class="thumbnail"> <img alt="placeholder" class="img-fluid avatar-sm"  src="data:;base64,{{ profile.profile_pic}}" /> </figure>
            {% endif %}
        </div>
        <div class="col-10">
            <header class="text-left">
                <figcaption class="comment-user"><b>{{post.author}}</b></figcaption>
                <time class="comment-date" datetime="{{date}}"><i class="fa fa-clock-o"></i> {{date}}</time>
            </header>
        </div>
    </div>
    <div class="post">
        <div class="">
            {{post.message}}
        </div>
        {% if( (post.files | length) > 0 ) %}
            {% if( post.img ) %} <!-- file is an image -->
            <img alt="attachment" class="img-fluid" src="data:;base64,{{ post.img }}" />
            {% else %}
            <span class="iconify" data-icon="oi-file"></span>
            {%endif%}
        {%endif%}

        <hr> {% if( (post.comments[post.id | string] | length) > 0 ) %}
        <div class="text-center">
            <p class=""><a id="view_more-{{post.id}}" onclick="$('#comments-' + '{{post.id}}').show();" class="profile_button view_more">View Comments</a></p>
        </div>

        {%endif%}
        <div id="comments-{{post.id}}" style="display:none;">
            <!-- changes from on to off based off "view comments button -->
            <label class="comment_label" for="from"><b>Comments</b></label> {% for j in range(post.comments[(post.id | string)] | length) | reverse %}
            <div class="post_comment profile-pic-post">
                <!--<figure class=" col-2"><img alt="profile picture" class="img-fluid " src="{{post.comments[post.id | string][j].user['avatar_image_url']}}" /></figure>-->
                <figure class="thumbnail"><img alt="profile picture" class="img-fluid avatar-sm" src="data:;base64,{{ profile.profile_pic}}" /></figure>
                <div class="word_bubble col-12">
                    <div class="delete">
                        <span onclick="deleteComment(event)" class="iconify" data-icon="oi-x"></span>
                    </div>
                    <!-- posts contain comments organized by post id (which is casted to string) and itterates through all comments -->
                    <p class=""><b>{{post.comments[post.id | string][j].user["name"]}}:</b><br> {{post.comments[(post.id | string)][j].message}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="reply_div-{{post.id}}" class="reply_div ">
            <div class="col-8">
                <textarea class="text_box" name="message" id="textbox-{{post.id}}" onkeyup="" size="5" placeholder="Comment"></textarea><span class="upload_icon oi oi-cloud-camera" aria-hidden="true"></span>
            </div>
            <button onclick="commentPost(event)" id="reply-{{post.id}}" name="{{post.id}}" class="col-4 reply_button btn-sm"><i class="fa fa-reply"></i> Reply</button>
        </div>
        <!-- to temp display image/file after post -->
        <img id="display-file-{{post.id}}" class="img-fluid post-pic" />
    </div>
</article>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>