<section class="reset-password">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2>Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input class="form-input" formControlName="email" id="email" type="email" size="32" />
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
              <div *ngIf="email?.errors?.required">Email is required.</div>
              <div *ngIf="email?.errors?.email">Invalid email format.</div>
            </div>
          </div>
  
          <button class="form-button blue-button fadeIn fourth my-3" type="submit" [disabled]="!resetPasswordForm.valid">
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </section>
  