/* haitian flag blue: #1632AA
/* haitian flag red: #B30D2C
*/ 
@media only screen  {
  #navbar-container {
    padding-right: 5px;
    border-radius: 3px;
    background-color: #B30D2C;
    min-height: 10px;
    margin-bottom: 0;
  }
  .navbar-toggler {
    height: 40%;
  }
  #nav-logo-p4h {
    margin-bottom: auto;
    margin-top: .20em;
  }
}
