@import '../common.scss';

.login, .signup {
  @extend .display-flex-center;

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #icon {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
  }

  .form-input {
    margin-bottom: 15px; // Add desired space here
  }

  .form-button {
    margin-bottom: 15px; // Add desired space here
  }
}
