<section class="login">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="fadeIn second mb-2">
          <label for="username">Username</label><br />
          <input
            formControlName="username"
            id="username"
            type="text"
            size="32"
          /><br />
          <div
            *ngIf="username?.invalid && (username?.dirty || username?.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="username?.errors?.required">Username is required.</div>
          </div>
          <label for="password">Password</label><br />
          <input
            formControlName="password"
            id="password"
            type="password"
            size="32"
          /><br />
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="password?.errors?.required">Password is required.</div>
          </div>
        </div>
        <div class="check-lg">
          <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="blue-button underlineHover fadeIn fourth my-3"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
        <button
          mat-raised-button
          color="accent"
          class="underlineHover fadeIn fourth my-3"
          type="button"
          (click)="onSignup()"
        >
          Sign Up
        </button>
      </form>
      <div *ngIf="errorMessage" class="error">
        <strong>Error:</strong> {{ errorMessage }}
      </div>
    </div>
  </div>
</section>
