<section class="layout">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Logo -->
      <div class="fadeIn first">
        <img src="assets/p4h.png" id="icon" alt="User Icon" />
      </div>
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label" for="username">Username</label>
          <input class="form-input" formControlName="username" id="username" type="text" size="32" />
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
            <div *ngIf="username?.errors?.required">Username is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="password">Password</label>
          <input class="form-input" formControlName="password" id="password" type="password" size="32" />
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
            <div *ngIf="password?.errors?.required">Password is required.</div>
          </div>
          <div class="forgot-password">
            <a routerLink="/reset-password">Forgot Password?</a>
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="rememberMe" />
          <label class="form-check-label" for="rememberMe">
            Remember me
          </label>
        </div>
        <div class="button-container">
          <button class="form-button blue-button fadeIn fourth my-3" type="submit" [disabled]="!loginForm.valid">
            Login
          </button>
          <button class="form-button blue-button fadeIn fourth my-3" type="button" (click)="onSignup()">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</section>