/* CSS to overwrite any bootstrap */
.bs-example {
    margin-bottom: 20px;
}
/* overwrite bootstrap blue primary color */
.btn {
    background-color: #1632aa;
    color: white;
    border-color: #112787;
}
.btn:hover {
    background-color: #112787; /* Green */
}
