/* This is the main CSS stylesheet that will get loaded on every page */

/* CSS to overwrite any bootstrap */
.bs-example {
    margin-bottom: 20px;
}
.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
/* overwrite bootstrap blue primary color */
.btn {
    background-color: #1632aa;
    color: white;
    border-color: #112787;
}
.btn:hover {
    background-color: #112787; /* Green */
}
.p4h {
    color:#1632AA;
}
.p4h-full {
    max-width: 900px;
}
.p4h-btn {
    width:100%;
    cursor:pointer;
    background-color: transparent; /* same color as #1632AA with low opacity */
    box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */
    text-align: center;
    border: thin;
    border-style: solid;
    border-color: rgba(22,80,200,0.20);
    padding:4px;
}
.p4h-pad {
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom:5px;
}
.slim {
    padding-right:0 !important;
    padding-left:0 !important;
}
.bottom {
    margin-bottom:10px;
}
.avatar-sm {
    max-height:60px;
}
input[type='checkbox'] {
    transform: scale(1.5);
    margin:5px;
}
#loading {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #5552;
  pointer-events: none;
  z-index: 3;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.load-wheel {
    width: 35px;
    height: 35px;
    display: none;
    background: url(../images/loader.gif) no-repeat;
    cursor: wait;
}
.button-bg {
    font-size: 1rem !important;
    padding:7px !important;
    padding-right: 14px !important;
    padding-left: 14px !important;
}
.invisble {
    height:0px;
    display:none;
  }
.profile-pic {
  display: flex;
  justify-content: center;
}
.upload_icon {
  vertical-align: middle;
  color: rgba(22,50,170, 0.90);
  cursor: pointer;
}

.exit_icon {
  background-color:#fff;
  color: rgba(22,50,170, 0.9);
  border-style: none;
  border-radius: 10px;
  width:50px;
  float: right;
}
/* CSS for profile posts */
.profile-name {
    width:100%;
    display: flex;
}
.profile-name .upload_icon {
  position:absolute !important;
  right:10%;
  top: 8px !important;
}
.post_box {
    position:relative;
    border-style:solid;
    border-width:thin;
    border-color:rgba(130,67,68,0.40);
    padding:14px 8px 8px 8px;
    border-radius:5px 5px 5px 5px;
    margin-bottom:10px;
  }
.post_box .row {
    margin:0; /* get rid of annoying bootstrap margins for "row" class */
    justify-content: center;
  }
.thumbnail {
    display:flex;
    justify-content: center;
}
.post {
    width:100%;
  }
.post-pic {
    max-height: 350px;
    padding:10px;
  }
.delete {
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.delete svg {
  width: 11px;
  color: rgba(130,67,68,0.40);
}
.reply_div {
  margin-bottom:8px;
  width:100%;
  position: relative;
  display:flex;
  flex-wrap:wrap;
}
.reply_button {
  border: thin;
  height:35px;
  text-align: center;
  border-style: solid;
  border-color: rgba(22,80,200,0.20);
  color:#1632AA;
  background-color: transparent; /* same color as #1632AA with low opacity */
  box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */

}
.reply_button:hover {
  background-color: rgba(22,50,170,0.07); /* same color as #1632AA with low opacity */
  color:#1B3FD7;
  text-decoration: none !important;
}
.form-text-box input {
  border-radius: 20px 20px 20px 20px;
  width: 300px;
  height: 35px;
  line-height:120%;
  padding:8px;
  position: relative;
  box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */
  border:thin;
  border-style: solid;
  border-color: rgba(22,80,200,0.20);
}

.text_box {
  resize:none;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 35px;
  line-height:120%;
  padding:8px;
  position: relative;
  box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */
  border:thin;
  border-style: solid;
  border-color: rgba(22,80,200,0.20);
  overflow:hidden;
}

.post_comment {
  display:flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.word_bubble {
  position: relative;
  background-color: rgba(22,50,170, 0.07) ;
  border-radius: 20px 20px 20px 20px;
  margin-left: 10px;
  padding:10px;
  width:90%;
}
.blue_button {
    cursor:pointer;
    display: block;
    width:100%;
    max-width:450px;
    text-align: center;
    /*margin-right:6px !important;
    margin-left:6px !important;*/
    padding:6px;
    margin: 10px 2px 10px 2px;
    border: thin;
    border-style: solid;
    border-color: rgba(22,80,200,0.20);
    color:#1632AA;
    background-color: transparent; /* same color as #1632AA with low opacity */
    box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */
}
.blue_button:hover {
  background-color: rgba(22,50,170,0.07); /* same color as #1632AA with low opacity */
  color:#1B3FD7;
  text-decoration: none !important;
}

.blue-button-form input{
  cursor:pointer;
  width:100%;
  margin-top: 10px;
  max-width:250px;
  text-align: center;
  padding:6px;
  border: 1px solid rgba(22,80,200,0.20);
  color:#1632AA;
  background-color: transparent; /* same color as #1632AA with low opacity */
  box-shadow: 0px 4px 7px 0px #1632aa1a;/* same color as #1632AA with low opacity */
}
.blue-button-form input:hover {
  background-color: rgba(22,50,170,0.07); /* same color as #1632AA with low opacity */
  color:#1B3FD7;
  text-decoration: none !important;
}



