/* This is the main CSS stylesheet that will get loaded on every page */
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Poppins" !important;
}
/* CSS to overwrite any bootstrap */
.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
/* overwrite bootstrap blue primary color */
.btn-primary {
    background-color: #1632aa;
    color: white;
    border-color: #112787;
}
.btn:hover {
    background-color: #112787;
}
.p4h {
    color:#1632AA;
}
.p4h-full {
    max-width: 900px;
}
.p4h-btn {
    width:100%;
    cursor:pointer;
    background-color: transparent; /* same color as #1632AA with low opacity */
    box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */
    text-align: center;
    border: thin;
    border-style: solid;
    border-color: rgba(22,80,200,0.20);
    padding:4px;
}
.p4h-pad {
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom:5px;
}
.slim {
    padding-right:0 !important;
    padding-left:0 !important;
}
.bottom {
    margin-bottom:10px;
}
.avatar-sm {
    max-height:60px;
}
.check-lg input[type='checkbox'] {
    transform: scale(1.5);
    margin-right: 0.8rem;
}
#loading {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  background-color: #5552;
  pointer-events: none;
  z-index: 1051; /* bootstrap modal is 1050 */
}
.invisble {
    height:0px;
    display:none;
  }
.profile-pic {
  display: flex;
  justify-content: center;
}
.profile-pic img{
  margin: 0 auto;
  max-width:70px; 
  max-height:70px;
}
.upload_icon {
  vertical-align: middle;
  color: rgba(22,50,170, 0.90);
  cursor: pointer;
}

.exit_icon {
  background-color:#fff;
  color: rgba(22,50,170, 0.9);
  border-style: none;
  border-radius: 10px;
  width:50px;
  float: right;
}
/* CSS for profile posts */
.profile-name {
    width:100%;
    display: flex;
}
.profile-name .upload_icon {
  position:absolute !important;
  right:10%;
  top: 8px !important;
}
.post_box {
    position:relative;
    border-style:solid;
    border-width:thin;
    border-color:rgba(130,67,68,0.40);
    padding:14px 8px 8px 8px;
    border-radius:5px 5px 5px 5px;
    margin-bottom:10px;
  }
.post_box .row {
    margin:0; /* get rid of bootstrap margins for "row" class */
    justify-content: center;
  }
.thumbnail {
    display:flex;
    justify-content: center;
}
.post {
    width:100%;
  }
.post-pic {
    max-height: 350px;
    padding:10px;
  }
.delete {
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.delete svg {
  width: 11px;
  color: rgba(130,67,68,0.40);
}
.reply_div {
  margin-bottom:8px;
  width:100%;
  position: relative;
  display:flex;
  flex-wrap:wrap;
}
.reply_button {
  border: thin;
  height:35px;
  text-align: center;
  border-style: solid;
  border-color: rgba(22,80,200,0.20);
  color:#1632AA;
  background-color: transparent; /* same color as #1632AA with low opacity */
  box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */

}
.reply_button:hover {
  background-color: rgba(22,50,170,0.07); /* same color as #1632AA with low opacity */
  color:#1B3FD7;
  text-decoration: none !important;
}
.form-text-box input {
  border-radius: 20px 20px 20px 20px;
  width: 300px;
  height: 35px;
  line-height:120%;
  padding:8px;
  position: relative;
  box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */
  border:thin;
  border-style: solid;
  border-color: rgba(22,80,200,0.20);
}

.text_box {
  resize:none;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 35px;
  line-height:120%;
  padding:8px;
  position: relative;
  box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10); /* same color as #1632AA with low opacity */
  border:thin;
  border-style: solid;
  border-color: rgba(22,80,200,0.20);
  overflow:hidden;
}

.post_comment {
  display:flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.word_bubble {
  position: relative;
  background-color: rgba(22,50,170, 0.07) ;
  border-radius: 20px 20px 20px 20px;
  margin-left: 10px;
  padding:10px;
  width:90%;
}
.blue-btn, .blue-button>input {
  background-color: #1632AA;
  color: white;
  border-style:solid;
  border-color: aliceblue;
  border-width: 1px;
  font-weight: 500;
  padding: 15px 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,120,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,120,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 20px 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
  background-color:#1736c1; /* same color as #1632AA but darker */
}
.circle-cropper {
  width: 115px;
  height: 115px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.white-btn {
  cursor:pointer;
  display: block;
  width:100%;
  max-width:450px;
  text-align: center;
  padding:6px; 
  margin: 10px 2px 10px 2px;
  border: thin;
  border-style: solid;
  border-color: rgba(22,80,200,0.20); 
  color:#1632AA;
  background-color: transparent; /* same color as #1632AA with low opacity */
  box-shadow: 0px 4px 7px 0px rgba(22,50,170, 0.10);/* same color as #1632AA with low opacity */
}
.white-btn:hover {
  background-color: rgba(22,50,170,0.07); /* same color as #1632AA with low opacity */
  color:#1B3FD7;
  text-decoration: none !important;
}
.white-btn:disabled {
  color: gray; 
  background-color: #eee;
}
.white-btn:disabled:hover {
  cursor: default;
  color: gray; 
  background-color: #eee;
}

