<!DOCTYPE html>

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">

  <!-- for production -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/messaging.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='icons/font/css/open-iconic-bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <!--
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/bootstrap.css" rel="stylesheet" id="bootstrap.min-css">
<script src="js/bootstrap.bundle.js"></script>
<link href="css/navbar.css" rel="stylesheet" id="navbar-css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

-->
  <!-- Static references -->
  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/navbars/">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- CSS to overwrite any bootstrap -->
<style type="text/css">
.bs-example {
  margin: 20px;
}
/* overwrite bootstrap blue primary color */
.btn {
  background-color: #1632AA;
  color:white; border-color:#112787;
}
.btn:hover {
  background-color: #112787; /* Green */
}
</style>
  </head>
  <body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark" id="navbar-container" > <a href="#" class="navbar-brand">
      <h1 id="nav-logo-p4h" style="color: white;">P4H</h1>
      </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav"> 
          <a href="" class="nav-item nav-link active" style="color: white; padding: 5px;">Home</a> 
          <a href="profile.html" class="nav-item nav-link" style="color: white; padding: 5px;">Profile</a> 
          <a href="messaging.html" class="nav-item nav-link" style="color: white; padding: 5px;">Messages</a>
          <a href="messaging.html" class="nav-item nav-link" style="color: white; padding: 5px;">Discussion</a>
          <a href="resources.html" class="nav-item nav-link disabled" tabindex="-1" style="color: white; padding: 5px;">Resources</a> </div>
        <div class="navbar-nav ml-auto"> <a href="#" class="nav-item nav-link" style="color: white;">Settings</a> </div>
      </div>
  </nav>
  </div>
<!-- This paragraph is just for testing. Remove in prod -->
<div> {% block content %}
    {% endblock %} </div>
</body>
