<!DOCTYPE html>

{% extends "header.html" %}<!-- all html files should extend from the header, (the header contains all static references as well) -->
{% block content %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->

<html>
<head>
<style>
  body, html {
    height: 100%; 
    margin: 0; 
    padding:0;
  }
  </style>
</head>
<body>
<div class="full_width_height">
  <h3 class="text-center">Messaging</h3>
  <div class="full_width_height">
    <iframe class="full_width_height" src="http://192.168.1.24:4000/directory"></iframe>
  </div>
</div>
</body>
</html>
{% endblock %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->