<!DOCTYPE html>

{% extends "header.html" %}<!-- all html files should extend from the header, (the header contains all static references as well) -->
{% block content %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->

<html>
<head>
</head>
<body>
<div class="">
  <h3 class="text-center">Messaging</h3>
  <div class="">
    <iframe src="http://192.168.1.24:4000/channel/general" height="800px;" width="100%"></iframe>
  </div>
</div>
</body>
</html>
{% endblock %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->