<!DOCTYPE html>

{% extends "header.html" %} <!-- all html files should extend from the header, (the header contains all static references as well) --> 
{% block content %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html) -->

<div id="entire_profile" class="container emp-profile">
   <div id="edit_menu"class="backgroundOverlay">
    <div class="wrapper overlayBlock fadeInDown rounded-circle" id="edit_profile_menu">
      <div style="text-align: center; margin-bottom: 25px;" class="">
        <h3>Edit Menu</h3>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Profile Name:</p>
        </div>
        <div class="col-6">
          <input class="" type="text" placeholder="Name Here" id="nameInput">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Profile Picture</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>School:</p>
        </div>
        <div class="col-6">
          <input class="" type="text" placeholder="School Here" id="schoolInput">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Email:</p>
        </div>
        <div class="col-6">
          <input class="" type="text" placeholder="Email Here" id="bioInput">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Phone:</p>
        </div>
        <div class="col-6">
          <input class="" type="text" placeholder="Phone Here" id="bioInput">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Biography:</p>
        </div>
        <div class="col-6">
          <input class="" type="text" placeholder="Your Bio Here" id="bioInput">
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <!--<button onclick="showSearchBar()" class="profile_button col-4">Search Profiles</button>-->
    <div class="dropdown-content">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
        <input class="" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    </div>
      <div id="myDropdown" class="list_of_items">
        
        {% for i in range(users | length) %}
        <form method="POST" action="profile_{{users[i].id}}">
          <a><button type="submit" class="erase"></button>{{users[i].name}}</a>
        </form>
        {% endfor %}
      </div>
  </div>
  <div class="row">
    <div class="col-3">
      {% if user.name == 'Admin' %}
      <img class="image-cropper img-fluid rounded-circle" alt="placeholder" src="../static/images/p4h.png"</img>
      {% else %}
      <figure class="thumbnail"><img class="img-fluid rounded-circle" alt="placeholder" src="{{user.avatar_url}}"/></figure>
      {% endif %}
    </div>
    <div class="col-8 col-sm-8 ">
      <h4>{{user.name}}</h4>
      <small class=""> <b>Pozisyon:</b> Elementary Teacher </small> <br>
      <small> <b>De Mwen :</b> Mwen anseye lekòl elemantè</small> </div>
  </div>
  <!--<div class="input-group"> 
            <div class="input-group-prepend"> <span class="input-group-text" id="inputGroupFileAddon01">Upload</span> </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label> -->

  <div class="col-md-10 col-12">
    <div id="mytabs" class="">
      <ul class="nav nav-tabs"  role="tablist">
        <li class="nav-item"> <a class="nav-link"  href="#about" aria-controls="about" id="about-tab" rel="about" data-toggle="tab"  role="tab"  aria-selected="true">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#timeline" aria-controls="timeline"  id="timeline-tab" rel="timeline" data-toggle="tab" role="tab"  aria-selected="false">Timeline</a> </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10 col-12 ">
    <div class= "nav">
      {% if(user.id == current_user.id) %}
      <div class="col-5">
        <button type="submit" id="edit_profile" class="profile_button" name="edit">Edit Profile</button>
      </div>
      {% endif %}
      <div class="col-7">
        <form action="progress.html">
          <button type="submit" class="profile_button">Pwogre Mwen</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-12 ">
  <div class="tab-content profile-tab ">
    <div id="timeline" class="profile-work tab-pane fade active show in" role="tabpanel"> 
      <!-- 1st tab {% if active=='timeline' %}show active{% endif %}-->
      <h3>Prowfil Pos</h3>
        <div id="write_post"> 
          <div style="text-align: center;" class="post_box">
            <div class = "profile_name">
            {% if user.name == 'Admin' %}
            <figure class=" col-2"><img alt="placeholder"class="img-fluid rounded-circle" src="../static/images/p4h.png"/></figure>
            {% else %}
            <figure class=" col-2"><img alt="{{user}}"class="img-fluid rounded-circle" src="{{user.avatar_url}}"/></figure>
            {% endif %}
            <div class="col-10" id="">
              <textarea class="text_box" name="message" id="textbox_post" style="width: 100%;" placeholder="Write Post Here" onkeyup="Expand(this);" size="5" ></textarea><span id="upload_{{user.id}}" class="oi oi-cloud-download upload_icon" aria-hidden="true"></span><input type="file" name="file" id="post_file" class="inputfile"style="display: none;" data-multiple-caption="{count} files selected" multiple/>
                <!--<label class="profile_button" id="label-1" for="file-1"><strong>Choose a file</strong></label>-->

            </div>
            </div>
            <div style="display:flex;">
            <a href="#" name="action" id="post" value="Post" style="width:100%;" class="profile_button btn-sm">Post</a>
            </div>
          </div>
        </div>
        <!-- Post Loop --> 
        {% for i in range(posts | length)%}
          {% include 'post.html' %}
        {% endfor %}
      <img id="pic" class="img-fluid"/>
    </div>
    <div id="about"  class="tab-pane fade in" role="tabpanel">
      <div class="row">
        <div class="col-md-6">
          <label>User Id</label>
        </div>
        <div class="col-md-6">
          <p>lcundiff</p>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <label>Name</label>
          </div>
          <div class="col-md-6">
            <p>Logan</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
          </div>
          <div class="col-md-6">
            <p>lcundiff@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Phone</label>
          </div>
          <div class="col-md-6">
            <p>123 456 7890</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Profession</label>
          </div>
          <div class="col-md-6">
            <p>Elementary Teacher</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html --> 