<!DOCTYPE html>

{% extends "header.html" %} <!-- all html files should extend from the header, (the header contains all static references as well) --> 
{% block content %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->
<div class="list-group">
  {% for i in range(folders | length)%}
  <a href="files_{{folders[i].id}}.html" class="list-group-item d-flex list-group-item-action flex-row  align-items-center ">
    <span style="font-size:40px; max-width:60px; width:30%;" class="oi {{icons[i]}}"></span>
    <div  class="align-items-start active col-10 ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{folders[i].name}} </h5>
        <small class="">{{folders[i].updated_at}}</small>
      </div>
      <p class="mb-1">{{folders[i].name}} to help plan every day lessons</p>
      <small>Click to navigate to {{folders[i].name}}</small>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %} <!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html --> 