<!DOCTYPE html>

<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta charset="utf-8" />
  <!-- Static references -->
  <link rel='icon' href='../static/images/profile_pic.jpg' type='image/x-icon'/
  >
  <link
    rel="canonical"
    href="https://getbootstrap.com/docs/4.1/examples/navbars/"
  />
</head>
<body>
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark" id="navbar-container">
      <a href="#" class="navbar-brand">
        <h1 id="nav-logo-p4h">
          <img
            style="height: 45px; vertical-align: middle;"
            class="img-fluid"
            src="/static/images/white_log.png"
            id="icon"
            alt="User Icon"
          />
        </h1>
      </a>
      {% if (current_user != None) %}
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <!--<a href="" class="nav-item nav-link active animated" >Lakay</a>-->
          <a
            href="{{url_for('profile')}}"
            class="nav-item nav-link animated"
            style=""
            >Profile</a
          >
          <a
            href="{{ url_for('messaging') }}"
            class="nav-item nav-link animated"
            >Mesaj</a
          >
          <a
            href="{{ url_for('announcements') }}"
            class="nav-item nav-link animated"
            >Anons</a
          >
          <a
            href="{{ url_for('resources') }}"
            class="nav-item nav-link animated"
            tabindex="-1"
            >Resous</a
          >
          <a href="/" class="nav-item nav-link disabled animated" tabindex="-1"
            >Logout</a
          >
        </div>
        <!--<div class="navbar-nav ml-auto"> <a href="#" class="nav-item nav-link animated">Anviwònman</a> </div>-->
      </div>
      {% endif %}
    </nav>
  </div>
  <!-- show flash messages to user in all views -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <!-- This paragraph is just for testing. Remove in prod -->
  <div style="height: calc(100% - 153px);">
    {% block content %} {% endblock %}
  </div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename=resolve_entry_script(self)) }}"></script>
