<!DOCTYPE html>

{% extends "header.html" %}<!-- all html files should extend from the header, (the header contains all static references as well) -->
{% block content %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->
<html>
<head>
</head>
<body>
<div class="container">
  <!--
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <!-- loop through incoming and outgoing messages messages 
          {% for i in range(0,user_messages_in|length) %}
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{user_messages_in[i]}}</p>
                <span class="time_date"> 11:01 AM    |    June 9</span></div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>{{user_messages_out[i]}}</p>
              <span class="time_date"> 11:01 AM    |    June 9</span> </div>
          </div>
          {%endfor%}
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  
  <!--
  THIS IS OLD MESSAGING.HTML 
    
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <!-- we will loop through all messages and display them 

          {%for k,v in users.items()%}
            <a href="{{k}}_message"><!-- uses the name of the url for the href (this tells controller whos message we need to see)
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{v.fname + " " + v.lname}}<span class="chat_date">Dec 25</span></h5>
                  <p>{{v.messages_in[0]}}</p>
                </div>
              </div>
            </div>
            </a>
            {%endfor%}
          </div>
        </div>
        <!-- !!! this is from message.html and will only appear outside of mobile !!! 
        <div class="mesgs d-none d-sm-block">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test Message</p>
                    
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Test Message</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test Message</p>
                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Test Message</p>
                <span class="time_date"> 11:01 AM    |    Today</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test Message</p>
                  <span class="time_date"> 11:01 AM    |    Today</span></div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
        <!-- end of message.html content --> 
</div>
</body>
</html>
{% endblock %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->