<!DOCTYPE html>
{% extends "header.html" %}<!-- all html files should extend from the header, (the header contains all static references as well) --> 
{% block content %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Timeline</h1>
        <hr>
      </div>
      <ul class="timeline">
        {% for i in range(assignments | length)%}
        <li class="timeline-item">
                      <div class="timeline-body col-12">
              <p>{{assignments[i].description}}</p>
            </div>
          <div class="timeline-badge"><i class="glyphicon glyphicon-off"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading col-12 col-sm-4">
              <h4 class="timeline-title">{{assignments[i].name}}</h4>
              <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Due: {{assignments[i].due_at}}</small></p>-->
            </div>
            <div class="file_upload col-12 col-sm-8">
              <div class="col-12">
                <input type="file" name="file" id="file-1" class="inputfile" data-multiple-caption="{count} files selected" multiple/>
                <label class="profile_button" id="label-1" for="file-1"><strong>Choose a file</strong></label>
                <!--<label id="label-1" class="custom-file-label" for="file-1"></label>--> 
              </div>
              <div class="input-group" style="justify-content: center;">
                <div class="input-group-prepend col-8 col-md-6"> 
                  <span class="input-group-text profile_button upload " name="{{assignments[i].id}}"  id="{{assignments[i].id}}">Upload</span> 
              </div>
              <div class="input-group-prepend col-8 col-md-6"> 
                  <a href="download_assignment_{{assignments[i].id}}"class="input-group-text profile_button download" name="{{assignments[i].id}}"  id="{{assignments[i].id}}">Download</a> </div>
              </div>
            </div>

          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}<!-- this appears when looking at html but if running Flask, will not appear (needed for extending from header.html -->
